.cart-controls{
    flex-basis: 100%;
    display:flex;
    justify-content: center;
    column-gap: 2em;
}

.cart-restaurants{
    flex-basis: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 2em;
}
.cart-restaurant{
    max-width: 50%;
    display:flex;
    flex-wrap: wrap;
    row-gap: 1em;
    padding: 2em;
    border:1px solid var(--color);
}

.cart-restaurant-header{
    display:flex;
    align-items: center;
    column-gap: 1em;
}

.restaurant-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.cart-category{
    flex-basis: 100%;
    display:flex;
    flex-wrap: wrap;
    row-gap: 0.6em;
}

.cart-item{
    flex-basis: 100%;
    display:flex;
    flex-wrap: wrap;
    row-gap: 0.2em;
    align-items: center;background-color: rgb(38, 40, 40);
   
}

.item-name{
    flex-basis: 100%;
    color:coral; 
 }

.item-info{
    width:fit-content;
    min-width: 300px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 0.1em;
}

.item-count{
    flex-basis: 10%;
    text-wrap: nowrap;
    align-items: center;
}
.item-price{
    margin-left: 1em;
    flex-basis: 30%;
    text-wrap:nowrap;
    align-items: center;
}
.item-controls{
    flex-basis: 30%;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 1em; 
}