.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index:100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 2em;
    row-gap: 0.2em;
    padding-block: 0.6em;
    padding-inline: 2em;
    font-size: 0.6em;
    background-color: rgb(32,32,32);
    height:var(--header-height);
}
.left,.right{
   flex-shrink: 0;
}

.logo{
   height:calc(var(--header-height)/2)
}
.middle nav ul {
    display: flex;
    column-gap: 1em;
}

.cart-icon{
    height: 3.4em;
}

.right ul{
   display: flex;
   column-gap: 0.8em;
   justify-content: center;
}

.right ul li{
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 0.4em;
  
}

.app{
    min-width:300px;
}

.restaurants-info-display{
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 2em;
    border:1px solid var(--color-dark-theme);
    padding-inline: 1em;
    padding-block: 0.2em;
    font-size: 1em;
}



.social-icon{
    flex-shrink: 0;
    height:2em;
    width:2em;
    background-color: var(--color-dark-theme);
    border-radius: 50%;
    border:1px solid white;
}

@media (max-width: 480px) {
    .middle nav ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1em;
    }

    .right{
        display: none;
    }

    
} 
