.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index:100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1em;
    align-items: center;
    padding-block: 1em;
    padding-inline: 1em;
    background-color: var(--bg);
}
.left,.right,.middle nav ul {
   flex-shrink: 0;
   display: flex;
   column-gap: 1em;
   justify-content: center;
   align-items: center;
}

.logo{
   height:3em;
}

.cart-icon-container{
    position: relative;
    margin-right: 0.6em;
}

.cart-icon{
    height: 3em;
}

.cart-icon-counter{
 position: absolute;
 top:-0.1em;
 right:-0.1em;
 padding: 0.2em;
 border:1px solid var(--color);
 border-radius: 1em;
}

.red{
    background-color: rgb(100, 0, 0);
}

.green{
    background-color: rgb(0, 100, 0);
}

.right ul{
   display: flex;
   column-gap: 1em;
   justify-content: center;
}

.right ul li{
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 0.4em;
  
}

.app{
    min-width:300px;
}

.restaurants-info-display{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 2em;
    row-gap: 0.6em;
    border-bottom:1px solid var(--color);
    padding-inline: 1em;
    padding-block: 0.2em;
    font-size: 0.8em;
    background-color: var(--bg); 
}


.social-icon{
    flex-shrink: 0;
    height:1em;
    width:1em;
    background-color: var(--color);
    border-radius: 50%;
    border:1px solid var(--color);
}

@media (max-width: 480px) {
    .middle nav ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1em;
    }

    .right{
        display: none;
    }

    
} 
