.header{
    position: fixed;
    left:0;
    right:0;
    top:-120px;
    z-index:100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1em;
    align-items: center;
    padding-top: 1em;
    padding-inline: 1em;
    background-color: var(--bg);
    opacity:90% ;
}
.left,.right,.middle nav ul {
   flex-shrink: 0;
   display: flex;
   column-gap: 1em;
   justify-content: center;
   align-items: center;
}

.logo{
   height:2em;
}

.cart-icon-container{
    position: relative;
    
}

.cart-icon{
    height: 1.6em;
}

.cart-icon-counter{
 position: absolute;
 top:-0.8em;
 right:-1.4em;
 padding-inline: 0.4em;
 padding-bottom:0.1em ;
 border:1px solid var(--color);
 border-radius: 1em;
}

.red{
    background-color: rgb(100, 0, 0);
}

.green{
    background-color: rgb(0, 100, 0);
}

.right ul{
   display: flex;
   column-gap: 1em;
   justify-content: center;
}

.right ul li{
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 0.4em;
  
}

.app{
    min-width:300px;
}

.restaurants-info-display{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 2em;
    row-gap: 0.6em;
    background-color: rgba(34,34,34,0.8);
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    padding-inline: 1em;
    padding-bottom: 0.4em;
    font-size: 0.8em;
    background-color: var(--bg); 
}


.social-icon{
    flex-shrink: 0;
    height:1em;
    width:1em;
    background-color: var(--color);
    border-radius: 50%;
    border:1px solid var(--color);
}

@media (max-width: 480px) {
    .middle nav ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1em;
    }

    .right{
        display: none;
    }

    
} 

.show-header{
  animation: show-header 0.6s;
  animation-fill-mode: forwards;
}
.hide-header{
  animation: hide-header 0.6s;
  animation-fill-mode: forwards;
}
@keyframes show-header {
    0%{transform: translateY(0px)}
    100%{transform: translateY(120px)}
}

@keyframes hide-header {
    0%{transform: translateY(120px)}
    100%{transform: translateY(0px)}
}

