.home {
  overflow: hidden;
}

/* Home Default..................................... */
/* .................................................. */
.bg-layout {
  position: relative;
  height: 120vh;
  background-image: url("../assets/bg-food-03-grey.jpg");
  background-position: center;
  background-size: cover;
  margin-top: -10em;
  margin-bottom: -4em;
  overflow: hidden;
  overflow: hidden;
}

@keyframes rotateBG {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes scaleBG {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes opacity-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.default-container {
  backdrop-filter: blur(2px) saturate(80%);
  position: fixed;
  top: 20%;
  left: 20%;
  right: 18%;
  border: 1px solid var(--color-border);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.2em;
  padding: 1em;
}

@media (max-width:700px) {
  .default-container{
    left: 1em;
    right: 1em;
    
  }
  
}

.default-container h4,
.default-container h5 {
  opacity: 1;
  flex-basis: 90%;
  background: none;
  font: bold;
  width: 100%;
  text-align: center;
  animation: opacity-anim 2s forwards;
}

.default-container-controls {
  margin-top: 2em;
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.6em;
  row-gap: 1.2em;
}
.default-container-controls > * {
  opacity: 0;
  
}

.default-container-controls button{
  width:20em;
}

.default-container-controls :nth-child(1) {
  animation: opacity-anim 0.4s 0s forwards;
  
}
.default-container-controls :nth-child(2) {
  animation: opacity-anim 0.4s 0.4s forwards;
}
.default-container-controls :nth-child(3) {
  animation: opacity-anim 0.4s 0.8s forwards;
}
.default-container-controls :nth-child(4) {
  animation: opacity-anim 0.4s 1.2s forwards;
}
.default-container-controls :nth-child(5) {
  animation: opacity-anim 0.4s 1.6s forwards;
}
.default-container-controls :nth-child(6) {
  animation: opacity-anim 0.4s 2s forwards;
}
.default-container-controls :nth-child(7) {
  animation: opacity-anim 0.4s 2.4s forwards;
}

/* Home Rendered..................................... */
/* .................................................. */
.home-rendered {
  row-gap: 12em;
  padding-bottom: 6em;
}

.hero {
  /* background-image: url("../assets/bg01.png"); */
  height: 16em;
  display: flex;
  flex-wrap: wrap;
  align-items:stretch;
  align-content: center;
  justify-content: center;
  background-color: rgba(34,34,34,0.8);
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  overflow: hidden;
  animation:animatebg 3s forwards;
  padding-inline: 2em;
}

@keyframes animatebg {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes animatecover {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* @keyframes animatecover {
  0%{transform:translateX(0%)}
  100%{transform:translateX(100%)}
}  */

.hero-heading {
  flex-basis: 100%;
  text-align: center;
  line-height: 1em;
  font-style: oblique;
  font-weight: 600;
  color:rgb(212, 2, 2);
  margin-bottom: 1em;
  
}

.hero-sub-heading {
  flex-basis: 100%;
  text-align: right;
  color: var(--color);
}
.hero-sub-heading span {
  flex-basis: 100%;
  text-align: center;
  font-style: oblique;
  font-weight: 300;
  /* color:var(--color-dark-theme); */
  color:  orange;
}

.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 4em;
  padding-block: 8em;
  padding-inline: 4em;
  justify-content: space-between;
  background-color: rgba(34,34,34,0.8);
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  min-height: 120vh;
  overflow: hidden;
}

.filters-container {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  row-gap: 1em;
}

.search-container {
  display: flex;
  text-align: center;
}
.search-button {
  margin-left: -1em;
  background-color: var(--bg);
}

.search-container input {
  border-radius: 0.7em;
}

.load-more-div{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2em;
}

.restaurant-card {
  width:16%;
  min-width: 160px;
  border: 1px solid var(--color-border);
  border-radius: 0.2em;
  background-color: rgba(24, 24, 24,0.94);
  color: var(--color);
  overflow:hidden;
  text-overflow: clip;
}

@media (min-width: 481px) and (max-width:760px) {
  .restaurant-card {
    width: 40%;
   
  }
  .restaurant-card-shifter {
    width: 40%;
    height: 1em;
  }
  .restaurants-container {
    justify-content: center;
    padding-inline: 1em;
  }
}


@media only screen and (max-width: 480px) {
  .restaurant-card {
    min-width: 80%;
    font-size: 2rem;
  }
  .restaurant-card-shifter {
    min-width: 80%;
  }
  .restaurants-container {
    justify-content: center;
    padding-inline: 1em;
    
    
  }
}



.restaurant-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1px solid var(--color-border);
}

.res-image-items-count{
  position: absolute;
  top:0.1;
  left:0.1;
  width:2em;
  height: 2em;
  border-radius: 1em;
  background-color: rgb(1, 83, 12);
  text-align: center;
  z-index: 1000;
}

.restaurant-image {
  scale: 1.2;
  transition: scale 1s;
}
.restaurant-image:hover {
  scale: 1.4;
}

.restaurant-info {
  font-size: 0.6em;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  row-gap: 0.6em;
  width: 100%;
  overflow: clip;
  padding-block: 0.2em;
  padding-inline: 0.4em;
}

.sub-1 {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sub-2 {
  flex-basis: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 2em;
}
.restaurant-info {
  flex-basis: 100%;
}

.name {
  flex-basis: 100%;
  text-align: center;
  line-height: 1.1em;
  font: bold;
  margin-top: 0.2em ;
  margin-bottom: 0.4em;
}
.area {
  text-align: center;
  flex-basis: 100%;
  line-height: 1.2em;
}
.area-logo {
}
.area-name {
  font-size: 1.2em;
}

.delivery-time {
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  line-height: 1.2em;
}
.delivery-time-logo {
}
.delivery-time-number {
  font-size: 1.2em;
  color: greenyellow;
}
.delivery-time-min {
}

.open-closed {
}
.open {
  font-size: 1.4em;
  color: greenyellow;
}
.closed {
  font-size: 1.4em;
  color: red;
}

.rating {
}
.rating-logo {
  font-size: 1.4em;
}

.rating-number {
  color: yellow;
  font-size: 1.4em;
}

.cuisines-container {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cuisines-header {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.4em;
  color: goldenrod;
  text-decoration: underline;
}
.cuisines-list {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.2em;
  color: goldenrod;
}

/* Controls.................................................. */

.show-menu-link {
  position: absolute;
  color: var(--color);
  background-image: linear-gradient(rgb(33, 32, 32), rgb(105, 91, 91));
  backdrop-filter: opacity(50%) sepia(90%) blur(10px);
  border: 1px solid var(--color-border);
  text-wrap: nowrap;
  font-size: 0.9em;
  bottom: -1.6em;
  right: -2.2em;
  padding-inline: 1em;
  padding-bottom: 4em;
  padding-top: 0.2em;
  border-radius: 0.2em;
  transform: rotateZ(-45deg);
  transition: all 0.15s;
  text-shadow: 12px,12px,-12px,-12px 2px black;
}
.show-menu-link:hover {
  color: var(--color);
  background-color: rgb(0, 60, 0);
  text-wrap: nowrap;
  padding-bottom: 6em;
}

.change-location-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
  column-gap: 1em;
  padding: 2em;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background-color: rgba(34,34,34,0.8);
}

.change-location-container h5 {
  flex-basis: 100%;
  text-align: center;
}
