.home {
  position: relative;
}
/* Home Default..................................... */
/* .................................................. */
.home-default{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bg-dark-theme);
  padding-top: var(--header-height);
  row-gap: 1em;
  min-height: 200vh;
}
.bg-text-h1{
    font:900;
    color:black;
}
.bg-text-h4{
    font:900;
    color:black;
}

.default-container{
    backdrop-filter: blur(1px);;
    position: fixed;
    left:2em;
    right:2em;
    top:calc(var(--header-height));
    border:1px solid var(--color-dark-theme);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.2em;
    padding-block: 2em;
}

.default-container h4,.default-container h5{
    flex-basis: 90%;
    background:none;
    font : bold;
    width:100%;
    text-align: center;
    
}

.default-container-controls{
   margin-top: 2em;
   flex-basis: 90%;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 0.6em;
   row-gap: 1.2em;
}

.location-button{
    width:8em;
    border:1px solid var(--color-dark-theme);
    border-radius: 1em;
    padding-block: 0.2em;
}
.location-button:hover{
    background-color: var(--color-dark-theme);
    color:var(--bg-dark-theme);;
}

/* Home Rendered..................................... */
/* .................................................. */
.home-rendered{
    padding-top: var(--header-height);
    background-color: var(--bg-dark-theme);;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 4em;
    padding-bottom: 4em;
}


.home-rendered >*{
  flex-basis: 100%;
}
.hero{
    background-image:url("../assets/bg01.png") ;
    flex-basis: 100%;
    height:16em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-inline: 1em;
}
.hero-heading{
    flex-basis: 100%;
    text-align: center;
    line-height: 1em;
    font-style: oblique;
    font-weight: 900;
    /* color:var(--color-dark-theme); */
    color:rgb(139, 1, 1) ;
    text-shadow: antiquewhite 0 0 6px;
    
}

.hero-sub-heading{
  flex-basis: 100%;
  text-align: center;
  color:var(--color-dark-theme);
  
}
.hero-sub-heading span{
  flex-basis: 100%;
    text-align: center;
    font-style: oblique;
    font-weight: 900;
    /* color:var(--color-dark-theme); */
    color:rgb(139, 1, 1) ;
    text-shadow: antiquewhite 0 0 6px;
}

.restaurants-container {
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 4em;
  padding-block: 3em;
  padding-inline: 4em;
  justify-content: space-evenly;
  background-color: var(--bg-dark-theme);
  border: 1px solid var(--color-dark-theme);
  min-height: 120vh;
}

.restaurant-card {
  max-width: 12vw;
  min-width: 140px;
  border: 1px solid var(--color-dark-theme);
  border-radius: 0.2em;
  background-color: rgb(23, 23, 23);
  color: var(--color-dark-theme);
  box-shadow: 1em 1em rgb(49, 49, 49), -2em 2em rgb(68, 67, 67),
    3em 3em rgb(32, 32, 32), -2em -2em rgb(45, 45, 45);
  transition: display 2s;
}

.restaurant-card-shifter {
  max-width: 12vw;
  min-width: 140px;
  height: 0;
}

.restaurant-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 1px solid var(--color-dark-theme);
}

.restaurant-image {
  scale: 1.2;
  transition: scale 1s;
}
.restaurant-image:hover {
  scale: 1.4;
}

.restaurant-info {
  font-size: 0.6em;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  row-gap: 0.6em;
  width: 100%;
  overflow: clip;
  padding-block: 0.2em;
  padding-inline: 0.4em;
}

.sub-1{
  flex-basis: 100%;
  display:flex;
  flex-wrap: wrap;
}

.sub-2{
  flex-basis: 100%;
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 2em;
}
.restaurant-info{
  flex-basis: 100%;
}

.name{
  flex-basis: 100%;
  font-size: 1.4em;
  text-align: center;
  line-height: 1.1em;
  height: 2.2em;
  font:bold;
  margin-bottom: 0.2em;
}
.area{
  text-align: center;
  flex-basis: 100%;
  line-height: 1.2em;
}
.area-logo{
  
}
.area-name{
  font-size: 1.2em;
}

.delivery-time{
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  line-height: 1.2em;
  
}
.delivery-time-logo{}
.delivery-time-number{
  font-size: 1.2em;
  color:greenyellow;
}
.delivery-time-min{}

.open-closed{
  
}
.open{
  font-size: 1.4em;
  color:greenyellow;
}
.closed{
  font-size: 1.4em;
  color:red;
}


.rating{

}
.rating-logo{
  font-size: 1.4em;
}

.rating-number{
  color:yellow;
  font-size:1.4em ;
}

.cuisines-container{
  flex-basis: 100%;
  display:flex;
  flex-wrap: wrap;

}
.cuisines-header{
  flex-basis: 100%;
  text-align: center;
  font-size:1.4em;
  color:goldenrod;
  text-decoration: underline;
}
.cuisines-list{
  flex-basis: 100%;
  text-align: center;
  font-size:1.2em;
  color:goldenrod;
}

/* Controls.................................................. */

.show-menu-link {
  position: absolute;
  color: var(--color-dark-theme);
  background-color: var(--bg-dark-theme);;
  border:1px solid var(--color-dark-theme);
  text-wrap: nowrap;
  font-size: 0.6em;
  bottom: -1.6em;
  right:-2.2em;
  padding-inline: 1em;
  padding-bottom: 4em;
  padding-top: 0.2em;
  border-radius: 0.6em;
  transform: rotateZ(-45deg);
  transition: all 0.15s;
}
.show-menu-link:hover {
  color: var(--color-dark-theme);
  background-color: rgb(0, 60, 0);
  text-wrap: nowrap;
  padding-bottom: 6em;
}

.load-more-button {
  max-width: fit-content;
  height: 2em;
  padding-inline: 1em;
  text-wrap: 0;
  padding-block: 0.2em;
  text-align: center;
  background-color: var(--bg-dark-theme);
  color: var(--color-dark-theme);
  text-align: center;
  border: 1px solid var(--color-dark-theme);
  border-radius: 2em;
  transition: background-color 0.15s,color 0.15s;
}

.load-more-button:hover {
  max-width: fit-content;
  background-color:var(--color-dark-theme);
  color: var(--bg-dark-theme);;
 
}

.change-location-container{
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
  column-gap: 1em;
  padding: 2em;
 
}

.change-location-container h5{
  flex-basis: 100%;
  text-align: center;
}

@media (max-width: 420px) {
  .restaurant-card {
    max-width: 800%;
    
    padding-inline: 0;
    border: 1px solid var(--color-dark-theme);;
    border-radius: 0.2em;
  }
  .load-more-button{
    flex-basis: 60%;
  }
}
