
.row{
    max-width: fit-content;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    column-gap: 0.8em;
    height:1.4em;
}

.row label{
    width:5em;
}
.signup-link-p{
    text-align: center;
}


    