.menu-page{
    color:var(--color-dark-theme);
    background-color: var(--bg-dark-theme);
    padding-top: var(--header-height);
    padding-inline: 1em;
    display:flex;
    flex-wrap: wrap;
}
.menu-page > *{
   flex-basis: 100%;
}

.menu-header{
    
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2em;
    justify-content: center;
    margin-bottom: 4em;
}

.res-image-container{
    width: 12em;
    height:12em;
    overflow: hidden;
}
.res-image{
    object-position: center;
    object-fit: contain;
}

.res-info-container{
   font-size: 0.8em;
}

.res-info-name{
    margin-bottom: 1.4em;
}

/* ItemCard CSS.............................. */
.item-card{
    padding-inline: 1em;
    padding-block: 0.5em;
    display: flex;
    flex-wrap: nowrap;
    border:1px solid var(--color-dark-theme);
}


/* Item Left */
 .item-info-container{
    flex-basis: 100%;
    font-size: 0.8em;
 }

 .item-name{
    line-height: 1em;
 }

 .item-price{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0.2em;
 }
 .item-logo{}
 .item-number{}
 .item-currency-symbol{
    color:rgb(3, 200, 3);
 }

/* Item Right */

.item-image-container{
    flex-shrink: 0;
    width: 5em;
    height:5em;
    border:1px solid var(--color-dark-theme);
    border-radius: 50%;
    overflow: hidden;
}

.item-image{
    object-position: center;
    object-fit: cover;
    transition: filter 0.5s;
}
.item-image:hover{
    filter:grayscale(50%)
}