.hidden{
    display:none;
    opacity: 0;
    transition: opacity 1s;
}
.shown{
    display:block;
    opacity: 1;
    transition: opacity 1s;
}

.menu-page{
    display: flex;
    flex-wrap: wrap;
    padding-top:8em;
    padding-bottom: 4em;
    row-gap: 2em;
    color:var(--color);
    background-color: var(--bg);
    max-height: fit-content;
    transition:height 4s;
}
.menu-page > * {
   flex-basis: 100%;
   max-height: fit-content;
}

/* MENU PAGE HEADER etc.HERO */
.menu-header{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:top;
    column-gap: 2em;
   
}

.logo-name-row{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    column-gap: 2em;
    padding-block: 2em;
    padding-inline: 1em;
    
}

.res-image-container{
    width: 6em;
    height:6em;
    overflow: hidden;
}
.res-image{
    object-position: center;
    object-fit: contain;
}
.res-info-container{
  

}
.res-info-name{
color:orangered;
font-size: 1.6em;
}
/* Restaurant-hero-statistics container */
.res-stat-container{
    flex-basis:50%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 2em;
    border-top: 1px solid grey;
    padding-top: 1em;
    font-size: 0.6em; 
}

.res-stat-open-closed-number,
    .res-stat-close-at-number,
    .res-stat-rating,
    .res-stat-rating-span{
       font-size: 1.4em;
    }

@media screen and (max-width:500px) {
    .res-stat-container{
        flex-basis:90%;
        column-gap: 1em;
        padding-inline: 1em;
        font-size: 0.8em;
    }
    .res-stat-open-closed-number,
    .res-stat-close-at-number,
    .res-stat-rating,
    .res-stat-rating-span{
       font-size: 1.2em;
    }
}
.res-stat-close-at,
.res-stat-open-closed,
.res-stat-rating{
    text-wrap: nowrap;
}

.res-stat-close-at-number{
    padding-left: 0.6em;
    color:orangered
}



.cuisines-header, .cuisines-text{
    color:goldenrod;
}
.cuisines-header{
    flex-basis: 100%;
    text-align: center;
    font-size: 1.4em;
}

.cuisines-text{
    font-size: 0.9em;
    padding-left: 1em;
}



/* CATEGORIES CONTAINER */

.menu-categories-container{
    max-height: fit-content;
    flex-basis: 100%;
    padding-block: 2em;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.4em;
}

.menu-categories-container>*{
    max-height: fit-content;
    flex-basis: 100%;
    justify-content: center;
}



.container-heading{
    flex-basis: 100%;
    text-align: center;
    color:orange;
}

.menu-container-header-links{
    flex-basis: 78%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 2em;
    align-items: center;
    margin-block: 1em;
}
.menu-container-header-links a{
    font-size: 1.4em;
    color: lightblue;
}
.menu-container-header-links a:hover{
    font-size: 1.4em;
     color: rgb(69, 134, 254);
}

.menu-category{
    flex-basis: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-header-a{
   flex-basis: 100%;
   display: flex;
   justify-content: center;
}

.menu-category-header{
    flex-basis: 90%;
    padding-inline: 2em;
    padding-block: 0.4em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--bg-dark-theme); */
    border:1px solid var(--color);
    border-radius: 1em;
    
   
}

.menu-category-header :nth-child(2){
    flex-basis: 20%;
    text-align: right;
}

.menu-category-header :nth-child(2) span{
    
}

.opened-header{
    font-size: 1.4em;
    flex-basis: 96%;
    background-color:rgb(24, 24, 24) ;
    border-radius: 0.9em;
    animation: open-header .25s ease-in-out;
    height: fit-content;
}

.opened-header :nth-child(2) span{
    padding-left: 0.4em;
  }

@keyframes open-header {
    0% { flex-basis: 90%; font-size: 1em; border-radius: 0;}
    100% { flex-basis: 98%; font-size:1.2em;border-radius:1.1em;}
}
/* ." h-24 text-3xl text-center bg-red-950" */
.menu-category-header:hover{
   background-color:rgb(24, 24, 24) ;
   font:bold;
   cursor: pointer;
}




/* ItemsContainer ItemCard Related CSS ......... */
/* ............................................. */
/* ............................................. */
.items-container{
    font-size: 0.6em;
    flex-basis:100%;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
   }

.item-card{
    flex-basis: 90%;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom:1px solid var(--color-border);
    
    padding-block: 1em;
    justify-content: space-between;
    row-gap: 1em;
}

.info-row{
    flex-basis: 100%;
    display:flex;
    justify-content: space-between;
}


/* Item Left */
 .item-info-container{
    display: flex;
    flex-basis: 68%;
    flex-wrap: wrap;
 }

 .item-name{
    flex-basis: 100%;
 }

 .item-data-set{
    flex-basis: 100%;
    display: flex;
    column-gap: 0.6em;
 }

 .item-price{
    display: flex;
    column-gap: 0.2em;
 }
 .item-logo{}
 .item-number{}

 .item-price-number{
    color:rgb(4, 180, 4);
    font-size: 1.2em;
 }
 .item-currency-symbol{
    color:rgb(3, 160, 3);
    font-size: 1.2em;
 }

/* Item IMAGE IMAGE IMAGE...CSS */

.item-image-container{
    align-self: flex-start;
    flex-basis: 30%;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    /* width: 8em;
    height:8em; */
    border:1px solid var(--color-border);
    border-radius: 50%;
    overflow: hidden;
}

.item-image{
    object-position: center;
    object-fit: cover;
    transition: filter 0.5s;
}
.item-image:hover{
    filter:grayscale(80%)
}

.description-header{
    color:lightblue;
    margin-block: 0.4em;
    text-decoration: underline;
}

.description-header:hover{
    cursor: pointer;
    color:rgb(69, 134, 254);
    font:bold;
}

.description-text{
    max-width: 300px;
    font-size: 1.4em;
}

/* Controls...... */
.controls-container{
    flex-basis: 100%;
    display: flex;
    justify-content:  flex-end;
    column-gap: 2em;
}

.button-add{
    /* border:1px solid var(--color-borde); */
    /* background-color: rgb(74, 148, 1); */
    border:2px solid rgb(81, 161, 1);
    min-width:6em;
    background: none;
    color:rgb(181, 169, 153);
    font-size: 1.4em;
    transition:all 0.15s;
}
.button-add:active{
    
    border:2px solid rgb(81, 161, 1);
    background: none;
    color:rgb(121, 112, 100);
    
}
.button-add:hover{
    border:2px solid rgb(141, 252, 30);
    background: none;
    color:rgb(252, 244, 233);
}
.button-remove{
    transition:all 0.15s;
    border:2px solid rgb(218, 1, 1);
    min-width:6em;
    background: none;
    color:rgb(181, 169, 153);
    font-size: 1.4em;
}
.button-remove:active{
    border:2px solid rgb(218, 1, 1);
    background: none;
    color:rgb(118, 109, 98);
}
.button-remove:hover{
    border:2px solid rgb(253, 45, 45);
    background: none;
    color:rgb(252, 244, 233);
}

.controls-container h4{
    
    color:rgb(110, 218, 1);
    text-align: center;
}

@media ( min-width:600px) {
    .item-card{
      flex-wrap: nowrap;
      justify-content: space-between;
      row-gap: 1em;
    }
    .controls-container{
       order:1;
       display:flex;
       flex-wrap: wrap;
       max-width:8em;
       justify-content: center;
       align-items: flex-start;
    }

    .menu-category{
        min-width: 500px;
        max-width: 70%;
    }

    .item-image-container{
      order:2;
      flex-basis: 20%;
    }

    .item-info-container{
     order:0;
     flex-basis: 50%;
    }

}