.nav-mobile{
  
}

.opened-menu{
    z-index: 2;
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: rgba(62, 62, 62, 0.9);
    align-content: flex-start;
    padding-top: 1em;
    font-size: 1em;
    height: 100vh;
}

@keyframes animateopen {
    0% {transform:rotateX(90deg)} 
    100% {transform:rotateX(0deg)} 
}
@keyframes animateclose {
    0% {transform:rotateX(0deg)} 
    100% {transform:rotateX(90deg)} 
}

.opened-menu li{
    background-color: var(--bg);
    color:var(--color);
    font-size: 1.6em;
    flex-basis: 100%;
    padding-block: 0.6em;
    padding-left: 4em ;
    display:block;
    margin-block: 0.2em;
}
.opened-menu li:hover{
    /* background-color: rgb(24, 24, 24); */
    background-color: var(--color);
    color: var(--bg);

}
.social-icon-mob{
    height: 1em;
    width:1em;
    background-color: var(--color);
}

.social-link{
    display: flex;
    column-gap: 1em;
}
.closed-menu li{
    display:none;
}